:root {
  background-color: beige;
}
h1 {
  color: rgb(251, 34, 34);
  text-decoration: underline;
}
h2 {
  color: black;
}
h3 {
  color: rgba(159, 224, 27, 0.865);
}
h4{
    color:black;
    font-size: 25px;
}
li {
  font-size: 25px;
  color: rgba(159, 224, 27, 0.865);
  margin: 20px 0px 20px 0px;
}
p{
    font-size: 20px;
    font-weight: bolder;
}